.hidden {
  display: none; /* This class hides the element */
}
.popup {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: gray;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-content {
  text-align: center;
  color: white;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
