.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;

  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    height: 300px;

    .carousel-item {
      min-width: 100%;
      transition: transform 0.5s ease;
      height: 300px;

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
    }
  }
}
