.registeredEvents {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  .sectionTitle {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }

  .attendeeEvents {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .attendeeInfo {
    margin-bottom: 10px;
  }
  .details {
    flex: 1;
  }

  .name {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }

  .email,
  .phone {
    color: #666;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .eventList {
    list-style: none;
    padding: 0;
  }
  .eventItem {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border-left: 4px solid #006ab3; /* Accent color */
  }
  .eventdetails {
    font-size: 16px;
    color: #333;
  }

  .eventname {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }

  .eventdate,
  .eventlocation {
    color: #666;
  }
}
